{% extends "user_management/layout.html" %}

{% block body %}
  <h2>Login</h2>
  <div class="card">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username</label>
          {{ form.username|add_class:"form-control" }}
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          {{ form.password|add_class:"form-control" }}
        </div>
        {% comment %} {{ form.as_p }}
        <button type="submit">Login</button> {% endcomment %}
      </form>
    </div>
  </div>
{% endblock %}