{% extends "user_management/layout.html" %}

{% block body %}
<div class="card w-50">
  <div class="card-header">
    <h1 class="text-center text-uppercase">
      User List
    </h1>
  </div>
  <div class="list-group">
    {% for user in users %}
    <div
    class="list-group-item list-group-item-action d-flex flex-row justify-content-between" 
    aria-current="true">
    <a href="{% url 'management:user_detail' user.id %}" 
    class="text-decoration-none col-10" 
    aria-current="true">
      {{ user.username }} 
    </a>
    <form method="post" action="{% url 'management:user_delete' user.id %}">
      {% csrf_token %}
      <button class="btn btn-danger">
        <i class="bi bi-trash3"></i>
      </button>
    </form>
    </div>
    {% endfor %}
  </div>
</div>
<a href="{% url 'management:user_create' %}">
  Create User
</a>
{% endblock %}