{% extends "user_management/layout.html" %}
{% load form_tags %}
{% block body %}
<div class="card width">
  <div class="card-header">
    <h1 class="text-center text-uppercase">
      Create User
    </h1>
  </div>
  <div class="card-body">
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="form-group">
          <label for="username" class="mt-2 mb-1 text-secondary text-sm">
            Username
          </label>
          {{ form.username|add_attrs:"class:form-control rounded-0, autocomplete:off" }}
          {% if form.username.errors %}
            <div class="text-danger">{{ form.username.errors }}</div>
          {% endif %}

        </div>
        <div class="form-group">
          <label for="email" class="mt-2 mb-1 text-secondary text-sm">
            Email
          </label>
          {{ form.email|add_attrs:"class:form-control rounded-0, type:email" }}
          {% if form.username.errors %}
            <div class="text-danger">{{ form.username.errors }}</div>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="password" class="mt-2 mb-1 text-secondary text-sm">
            Password
          </label>
          {{ form.password|add_class:"form-control rounded-0" }}
          {% if form.password.errors %}
            <div class="text-danger">{{ form.password.errors }}</div>
          {% endif %}
        </div>
        <div class="form-check d-flex align-items-center">
          {{ form.is_reader|add_attrs:"class:form-check-input rounded-0, type:checkbox, id: isreader" }}
          <label for="isreader" class="mt-2 ms-2 mb-1 text-secondary text-sm form-check-label">
            Is Reader
          </label>
        </div>
        <div class="form-check d-flex align-items-center">
          {{ form.is_editor|add_attrs:"class:form-check-input rounded-0, type:checkbox, id: iseditor" }}
          <label for="iseditor" class="mt-2 mb-1 ms-2 text-secondary text-sm form-check-label">
            Is Editor
          </label>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary rounded-0 mt-2">
            Register user
          </button>
        </div>
      </form>
  </div>
</div>
{% endblock %}