{% extends "user_management/layout.html" %}
{% load static %}
{% block body %}
  <div class="card width">
    <div class="card-header">
      <h1 class="text-center text-uppercase">
        <p class="fw-bold" onclick="getUserArticles({{ user.id }})">
          {{ user.username }} <span class="d-inline">'s Posts</span>  
        </p>
      </h1>
      <p class="text-center d-flex flex-column">Email: 
        <span >
          {{ user.email }}
        </span> 
      </p>
      <div class="row"> 
        <div class="col-6">
          <p class="text-secondary">Is Editor: 
            <span class="fw-bold text-dark">
              {{ user.is_editor }}
            </span> 
          </p>
        </div>
        <div class="col-6">
          <p class="text-secondary">Is Reader:
            <span class="fw-bold text-dark">
              {{ user.is_reader }}
            </span> 
          </p>
        </div>
      </div>
    </div>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary w-100">Toggle Editor/Reader</button>
    </form>
  </div>
  <div id="articles-container" class="mt-4 w-50"></div>
{% endblock %}


{% block script %}
    <script>
      const userArticlesUrl = "{% url 'news:user_articles' 0 'type' %}";
    </script>
    <script src="{% static 'user_management/index.js' %}"></script>
{% endblock %}