{% extends "user_management/layout.html" %}
{% load form_tags %}
{% block body %}
<div class="card w-50">
  <div class="card-header">
    <h1 class="text-center text-uppercase">
      Create User
    </h1>
  </div>
  <div class="card-body">
    {% comment %} <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Create User</button>
    </form> {% endcomment %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username" class="mt-2 mb-1 text-secondary text-sm">
            Username
          </label>
          {{ form.username|add_class:"form-control rounded-0" }}
        </div>
        <div class="form-group">
          <label for="email" class="mt-2 mb-1 text-secondary text-sm">
            Email
          </label>
          {{ form.email|add_attrs:"class:form-control rounded-0, type:email" }}
        </div>
        <div class="form-group">
          <label for="password" class="mt-2 mb-1 text-secondary text-sm">
            Password
          </label>
          {{ form.password|add_class:"form-control rounded-0" }}
        </div>
        <div class="form-group form-check">
          <label for="isreader" class="mt-2 mb-1 text-secondary text-sm form-check-label">
            Is Reader
          </label>
          {{ form.is_reader|add_attrs:"class:form-check-input rounded-0, type:checkbox, id: isreader" }}
        </div>
        <div class="form-group form-check">
          <label for="iseditor" class="mt-2 mb-1 text-secondary text-sm form-check-label">
            Is Editor
          </label>
          {{ form.is_editor|add_attrs:"class:form-check-input rounded-0, type:checkbox, id: iseditor" }}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary rounded-0 mt-2">
            Register user
          </button>
        </div>
      </form>
  </div>
</div>
{% endblock %}