{% extends "news/layout.html" %}
{% load form_tags %}
{% load static %}

{% block body %}
    <div class="card w-75">
        <div class="card-header">
            <div class="row">
                <div class="col-8">
                <h1 class="text-uppercase">
                    {{ article.title }}
                </h1>
                <p class="text-secondary text-sm"> Author:  
                    <a 
                    href={% url 'news:user_articles' article.author.id 'html' %} 
                    class="text-capitalize fw-bold text-decoration-none"> 
                        {{ article.author.username }} 
                    </a> 
                </p>
                <p class="text-secondary text-sm mb-1">
                    Created at: {{ article.created_at }}
                </p>
                <p class="text-secondary text-sm mb-1">
                    Updated at: {{ article.updated_at }}
                </p>
                <p class="text-secondary fst-italic text-sm mb-1">
                    Comments: {{ comments.count }}
                </p>

                </div>
                {% if article.author == request.user %}
                    <div class="col-2 button-display">
                        <a href="{% url 'news:article_edit' article.id %}" class="btn btn-primary float-end">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </div>
                    <div class="col-2 button-display">
                        <a href="{% url 'news:article_delete' article.id %}" class="btn btn-danger float-end">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            {% if article.image_url %}
                <img src="{{ article.image_url }}" class="img-fluid masked-image" alt="Article Image">
            {% endif %}
            <p class="card-text">
                {{ article.content }}
            </p>
        </div>
        <div class="card-footer">
            <h2>Comments</h2>
            <ul class="list-group">
                {% for comment in comments %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>{{ comment.content }}</span>
                        <span class="text-capitalize">{{ comment.author.username }}</span>
                    </li>
                {% endfor %}
            </ul>
            {% if user.is_authenticated and not user.is_editor %}
                {% if user.is_reader and not user.is_superuser %}
                    <form method="post" action="{% url 'news:comment_create' article.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.content|add_attrs:"class:form-control rounded-0, type:textarea, rows:2, cols:50" }}
                            {% if form.content.errors %}
                                <div class="text-danger">{{ form.content.errors }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Add Comment</button>
                    </form>
                {% else %}
                    <a href="{% url 'management:register' %}" class="btn btn-success mt-2">
                        Register to Add Comment
                    </a>
                {% endif %}
            {% elif not user.is_authenticated and not user.is_editor %}
                <a href="{% url 'management:register' %}" class="btn btn-success mt-2">
                    Register to Add Comment
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}