{% extends "news/layout.html" %}
{% load static %}

{% block body %}
    <div class="card width top-m">
        <div class="card-header">
          <div class="row">
            <div 
            class="{% if user.is_authenticated and user.is_editor and user.author == request.user %}
            col-6
            {% else %}
            col-12
            {% endif %}">
              <h1 class="text-uppercase ms-5">
                News Articles
              </h1>
            </div>
            {% if user.is_authenticated and user.is_editor and user.author == request.user %}
              <div class="col-6">
                <a href="{% url 'news:article_create' %}" class="btn btn-primary float-end">
                  Create New Article
                </a>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="list-group">
          {% for article in page_obj %}
          <div
          class="list-group-item list-group-item-action d-flex flex-row justify-content-between" 
          aria-current="true">
            <a href="{% url 'news:article_detail' article.id %}" 
            class="text-decoration-none {% if user.is_authenticated and user.is_editor and user.author == request.user %}
            col-10
            {% else %}
            col-12
            {% endif %}" 
            aria-current="true">
              {{ article.title }} 
            </a>
            {% if user.is_authenticated and user.is_editor and user.author == request.user %}
              <a href="{% url 'news:article_delete' article.id %}" class="btn btn-danger h-content float-end">
                  <i class="bi bi-trash3"></i>
              </a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
    </div>
    <nav aria-label="Page navigation example" class="position-absolute down_pagination">
      <ul class="pagination">
          {% if page_obj.has_previous %}
              <li class="page-item">
                  <a class="text-decoration-none page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
              </li>
          {% endif %}
          {% if page_obj.has_next %}
              <li class="page-item">
                  <a class="text-decoration-none page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
          {% endif %}
      </ul>
  </nav>
{% endblock %}
