@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

.contents {
    display: contents;
}

.down_pagination {
    bottom: -65px;
}

.text-sm {
    font-size: 0.8rem;
}

.button-display {
    justify-content: end;
    display: flex;
    height: fit-content;
}