@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

.contents {
    display: contents;
}

.down_pagination {
    bottom: 200px;
}

.text-sm {
    font-size: 0.8rem;
}

.button-display {
    justify-content: end;
    display: flex;
    height: fit-content;
}

.masked-image {
    width: 100%;
    max-height: 250px;
    object-fit: cover; 
    overflow: hidden;
}

.h-content {
    height: fit-content;
}