@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

.contents {
    display: contents;
}

.down_pagination {
    bottom: 0px;
}

.text-sm {
    font-size: 0.8rem;
}

@media (min-width: 576px) {
    .text-sm {
        font-size: 1.5rem;
    }
}
.button-display {
    justify-content: end;
    display: flex;
    height: fit-content;
}

.masked-image {
    width: 100%;
    max-height: 250px;
    object-fit: cover; 
    overflow: hidden;
}

.h-content {
    height: fit-content;
}


.width {
    width: 100%;
}

.top-m {
    margin-top: -25px;
}

.display {
    position: relative;
    z-index: 10;
}

.top {
    top: -4px;
}

.left {
    left: 0px;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}


@media (min-width: 576px) {
    .top-m {
        margin-top: 0px;
    }

    .width {
        width: 50%;
    }

    .down_pagination {
        bottom: 200px;
    }

}

